<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="Container center mt-1">

       <div class="row">
           <div class="col-sm-10">
             <!--cards -->
            <div class="card-columns">
                <div class="card-deck-wrapper">
                    <div class="card">
                        <img src="img.jpg" alt="John" style="width:100%">
                        <h1>John Doe</h1>
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <p><button>Contact</button></p>
                      </div>
            
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">Anand</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>
            
                    
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">Anand</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>

                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body  ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">s</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>
            
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body  ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">Appi</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>
            
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body  ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">Deepak</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>
            
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                        <div class="card-body  ">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                            <h1 class="card-title">K1.Balaji</h1>
                            <p class="card-text">Assistant Professor</p>
                        </div>
                    </div>
            
            
                    <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                     <div class="card-body  ">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                         <h1 class="card-title">K2.Balaji</h1>
                         <p class="card-text">Assistant Professor</p>
                     </div>
                    </div>
                 
                     <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                     <div class="card-body  ">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                         <h1 class="card-title">K3.Balaji</h1>
                         <p class="card-text">Assistant Professor</p>
                     </div>
                     </div>
            
            
                 <div  class="card shadow p-4 mb-4 bg-white" style="width:  250px;">
                     <div class="card-body  ">
                         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN2v2T3RZ-auDAaOhhepbZYcgBRoGzXdRsFsluhEU4lFHXStDI" style="width: 100%;" alt="">
                         <h1 class="card-title">K4.Balaji</h1>
                         <p class="card-text">Assistant Professor</p>
                     </div>
                 </div>
            
                </div>
            </div>

           </div>
       </div>
    </div>
</body>
</html>
